[mcu mmu]
serial: /dev/serial/by-id/usb-Klipper_rp2040_4250304B38353817-if00 # replace with your MMU board serial
restart_method: command

[board_pins mmu]
mcu: mmu
aliases:
    BE=gpio28,   # Belay sensor
    RGB=gpio22, # WS2812 RGB LED data pin
    SDA=gpio0,  SCL=gpio1,  # I2C pins
    TH0=gpio26, TH1=gpio27, # Thermistors
    CW=gpio2,   RPM1=gpio3, M1=gpio4,   RPM2=gpio6, M2=gpio7,   # BLDC motor control
    EN0=gpio5,  EN1=gpio8,  EN2=gpio9,  EN3=gpio10, EN4=gpio11, # Endstops
    MF=gpio15, FAN0=gpio14, FAN1=gpio13, FAN2=gpio12,             # Heaters / Fans
    S0=gpio16,  S1=gpio17,  S2=gpio18,  S3=gpio19,  S4=gpio20, S5=gpio21 # Servos

[duplicate_pin_override]
pins: mmu:CW # CW pin is used by both BLDC motors

[bldc upper]
pin: !mmu:M1 # BLDC motor control pin
hardware_pwm: True # use hardware PWM for motor control (default: True)
direction_pin: mmu:CW # direction control pin
tachometer_pin: mmu:RPM1 # tachometer pin
cycle_time: 0.00005 # cycle time for all bldc motors (default: 0.00005 = 20 kHz)
off_below: 0.3 # turn off motor if speed is below this value (default: 0.5)
tachometer_ppr: 9 # Tachometer pulses per revolution (default: 9)
tachometer_poll_interval: 0.0002 # Poll interval for tachometer (default: 0.0002)

[bldc lower]
pin: mmu:M2 # BLDC motor control pin
hardware_pwm: True # use hardware PWM for motor control (default: True)
direction_pin: mmu:CW # direction control pin
tachometer_pin: mmu:RPM2 # tachometer pin
cycle_time: 0.00005 # cycle time for all bldc motors (default: 0.00005 = 20 kHz)
off_below: 0.3 # turn off motor if speed is below this value (default: 0.3)
tachometer_ppr: 9 # Tachometer pulses per revolution (default: 9)
tachometer_poll_interval: 0.0002 # Poll interval for tachometer (default: 0.0002)

[multi_material_unit]
tool_numbering_start: 0 # starting number for tools (default: 0)
bldc_motors: upper,     # bldc motors for tool 0..3
             lower      # bldc motors for tool 4..7
servos: MMU_SERVO01,    # servo for selecting tool 0 & 1
        MMU_SERVO23,    # servo for selecting tool 2 & 3
        MMU_SERVO45,    # servo for selecting tool 4 & 5
        MMU_SERVO67     # servo for selecting tool 6 & 7
servo_angles: 0, 180,   # servo angles for tool 0 & 1
              0, 180,   # servo angles for tool 2 & 3
              0, 180,   # servo angles for tool 4 & 5
              0, 180    # servo angles for tool 6 & 7
endstop_pin: !mmu:EN0   # filament sensor pin

# belay_pin: mmu:BE
# belay_inverted: False # Belay sensor inverted logic (default: False)
# belay_setpoint: 0.5 # Belay sensor trigger point (default: 0.5)
# belay_deadzone: 0.1 # Belay sensor deadzone (default: 0.1)



# [gcode_button MMU_Endstop0]
# pin: !mmu:EN0
# press_gcode:   _MMU ENDSTOP=0 VALUE=1
# release_gcode: _MMU ENDSTOP=0 VALUE=0
# [gcode_button MMU_Endstop1]
# pin: !mmu:EN1
# press_gcode:   _MMU ENDSTOP=1 VALUE=1
# release_gcode: _MMU ENDSTOP=1 VALUE=0
# [gcode_button MMU_Endstop2]
# pin: !mmu:EN2
# press_gcode:   _MMU ENDSTOP=2 VALUE=1
# release_gcode: _MMU ENDSTOP=2 VALUE=0
# [gcode_button MMU_Endstop3]
# pin: !mmu:EN3
# press_gcode:   _MMU ENDSTOP=3 VALUE=1
# release_gcode: _MMU ENDSTOP=3 VALUE=0
# [gcode_button MMU_Endstop4]
# pin: !mmu:EN4
# press_gcode:   _MMU ENDSTOP=4 VALUE=1
# release_gcode: _MMU ENDSTOP=4 VALUE=0
# [filament_switch_sensor fss]
# switch_pin: !mcu:PB12
# insert_gcode: _MMU ENDSTOP=4 VALUE=1
# runout_gcode: _MMU ENDSTOP=4 VALUE=0

[servo MMU_SERVO01] # servo for selecting filament 0 & 1
pin: mmu:S0
initial_angle: 90
[servo MMU_SERVO23] # servo for selecting filament 2 & 3
pin: mmu:S1
initial_angle: 90
[servo MMU_SERVO45] # servo for selecting filament 4 & 5
pin: mmu:S2
initial_angle: 90
[servo MMU_SERVO67] # servo for selecting filament 6 & 7
pin: mmu:S3
initial_angle: 90



##     ## ########    ###    ######## ######## ########
##     ## ##         ## ##      ##    ##       ##     ##
##     ## ##        ##   ##     ##    ##       ##     ##
######### ######   ##     ##    ##    ######   ########
##     ## ##       #########    ##    ##       ##   ##
##     ## ##       ##     ##    ##    ##       ##    ##
##     ## ######## ##     ##    ##    ######## ##     ##

[heater_generic MMU_HEATER]
heater_pin: mmu:MF
sensor_type: Generic 3950
sensor_pin: mmu:TH0
# pullup_resistor: 1
control: pid
pid_Kp: 49.034
pid_Ki: 2.224
pid_Kd: 270.296
min_temp: -200
max_temp: 200

[controller_fan MMU_FAN]
pin: mmu:FAN2
heater: MMU_HEATER
fan_speed: 1.0
idle_timeout: 30
idle_speed: 1.0

[temperature_sensor AMBIENT]
sensor_pin: mmu:TH1
sensor_type: Generic 3950
# pullup_resistor: 1
min_temp: -200
max_temp: 200






##     ##    ###     ######  ########   #######   ######
###   ###   ## ##   ##    ## ##     ## ##     ## ##    ##
#### ####  ##   ##  ##       ##     ## ##     ## ##
## ### ## ##     ## ##       ########  ##     ##  ######
##     ## ######### ##       ##   ##   ##     ##       ##
##     ## ##     ## ##    ## ##    ##  ##     ## ##    ##
##     ## ##     ##  ######  ##     ##  #######   ######

[gcode_macro TEST]
description: GCode for debuging the MMU
gcode:
    RESPOND MSG="ENDSTOP0: {printer["gcode_macro _MMU"].endstop0}"
    RESPOND MSG="ENDSTOP1: {printer["gcode_macro _MMU"].endstop1}"
    RESPOND MSG="ENDSTOP2: {printer["gcode_macro _MMU"].endstop2}"
    RESPOND MSG="ENDSTOP3: {printer["gcode_macro _MMU"].endstop3}"

[delayed_gcode MMU_TIMEOUT]
# Timeout, that guards all MMU functions.
gcode:
    MMU_MOVE TOOL=-1 SPEED=0.0
    SET_GCODE_VARIABLE MACRO=_MMU VARIABLE=action VALUE="''"
    RESPOND TYPE=error MSG="MMU_TIMEOUT"

[delayed_gcode MMU_STOP]
gcode:
    MMU_MOVE SPEED=0.0

[gcode_macro _MMU]
description: State machine for interacting with the MMU
variable_home_timeout: 10.0
variable_home_speed: 0.33 # retraction speed used for homeing
variable_load_timeout: 10.0
variable_load_speeds: (1.0, 5500, 0.2) # (<speed>, <duration>, ..., <speed>)
variable_unload_speed: 1.0
variable_eject_duration: 1.0
variable_action: ""
variable_endstop0: 0
variable_endstop1: 0
variable_endstop2: 0
variable_endstop3: 0
variable_endstop4: 0
variable_endstop5: 0
variable_endstop6: 0
variable_endstop7: 0
variable_endstop8: 0
gcode:
    RESPOND MSG="_MMU {rawparams} (Action={printer["gcode_macro _MMU"].action})"

    {% if 'ENDSTOP' in params %}
        {% set endstop = params.ENDSTOP|int %}
        {% set value   = params.VALUE|int %}
        SET_GCODE_VARIABLE MACRO=_MMU VARIABLE={"endstop" ~ endstop} VALUE={value}

        {% if printer["gcode_macro _MMU"].action != "" %}
            {% set action = printer["gcode_macro _MMU"].action.split(":")[0] %}
            {% set tool   = printer["gcode_macro _MMU"].action.split(":")[1]|int %}
            {% set phase  = printer["gcode_macro _MMU"].action.split(":")[2]|int %}

            {% if action == "HOME" %}
                # todo: check what endstop is triggerd. When <endstop> != <tool> there is an error in the configuration
                #       e.g. motor position 0 pushes filament to endstop 1
                {% if phase == 1 %}
                    SET_GCODE_VARIABLE MACRO=_MMU VARIABLE=action VALUE="'{action}:{tool}:{phase + 1}'"
                    UPDATE_DELAYED_GCODE ID=MMU_TIMEOUT DURATION={printer["gcode_macro _MMU"].home_timeout}
                    MMU_MOVE TOOL={tool} SPEED=-{printer["gcode_macro _MMU"].home_speed}
                {% else %}
                    SET_GCODE_VARIABLE MACRO=_MMU VARIABLE=action VALUE="''"
                    MMU_MOVE TOOL=-1 SPEED=0.0
                    RESPOND MSG="Tool {tool} homed."
                    UPDATE_DELAYED_GCODE ID=MMU_TIMEOUT DURATION=0
                {% endif %}
            {% elif action == "LOAD" %}
                {% if phase == 1 %}
                    SET_GCODE_VARIABLE MACRO=_MMU VARIABLE=action VALUE="'{action}:{tool}:{phase + 1}'"
                    MMU_MOVE TOOL={endstop} SPEED={printer["gcode_macro _MMU"].load_speeds[0]}
                {% elif phase == 2 %}
                    SET_GCODE_VARIABLE MACRO=_MMU VARIABLE=action VALUE="'{action}:{tool}:{phase + 1}'"
                    MMU_MOVE TOOL={endstop} SPEED=-{printer["gcode_macro _MMU"].home_speed}
                {% elif phase == 3 %}
                    SET_GCODE_VARIABLE MACRO=_MMU VARIABLE=action VALUE="''"
                    MMU_MOVE TOOL=-1 SPEED=0.0
                    MMU_LOAD TOOL={tool}
                {% elif endstop == 8 %}
                    SET_GCODE_VARIABLE MACRO=_MMU VARIABLE=action VALUE="''"
                    UPDATE_DELAYED_GCODE ID=MMU_TIMEOUT DURATION=0
                    MMU_MOVE TOOL=-1 SPEED=0.0
                {% endif %}
            {% elif action == "UNLOAD" %}
                {% if endstop == 8 %}
                {% elif phase == 1 %}
                    SET_GCODE_VARIABLE MACRO=_MMU VARIABLE=action VALUE="'{action}:{tool}:{phase + 1}'"
                    UPDATE_DELAYED_GCODE ID=MMU_TIMEOUT DURATION={printer["gcode_macro _MMU"].home_timeout}
                    MMU_MOVE TOOL={TOOL} SPEED={printer["gcode_macro _MMU"].home_speed}
                {% elif phase == 2 %}
                    SET_GCODE_VARIABLE MACRO=_MMU VARIABLE=action VALUE="'{action}:{tool}:{phase + 1}'"
                    UPDATE_DELAYED_GCODE ID=MMU_TIMEOUT DURATION={printer["gcode_macro _MMU"].home_timeout}
                    MMU_MOVE TOOL={TOOL} SPEED=-{printer["gcode_macro _MMU"].home_speed}
                {% else %}
                    SET_GCODE_VARIABLE MACRO=_MMU VARIABLE=action VALUE="''"
                    MMU_MOVE TOOL=-1 SPEED=0.0
                    RESPOND MSG="Tool {tool} unloaded."
                    UPDATE_DELAYED_GCODE ID=MMU_TIMEOUT DURATION=0
                {% endif %}
            {% elif action == "EJECT" %}
                SET_GCODE_VARIABLE MACRO=_MMU VARIABLE=action VALUE="''"
                UPDATE_DELAYED_GCODE ID=MMU_TIMEOUT DURATION=0
                MMU_EJECT TOOL={tool}
            {% else %}
                SET_GCODE_VARIABLE MACRO=_MMU VARIABLE=action VALUE="''"
            {% endif %}
        {% endif %}
    {% endif %}

[gcode_macro MMU_MOVE]
description: Selects and moves filament from MMU
gcode:
    RESPOND MSG="MMU_MOVE {rawparams}"
    {% set SPEED = params.SPEED|float %}
    {% set TOOL  = params.TOOL|int %}

    {% if TOOL == -1 %}
        # deselect all filaments
        SET_SERVO SERVO=MMU_SERVO01 ANGLE=90
    {% elif TOOL == 0 %}
        SET_SERVO SERVO=MMU_SERVO01 ANGLE=0
    {% elif TOOL == 1 %}
        SET_SERVO SERVO=MMU_SERVO01 ANGLE=180
    # {% elif TOOL == 2 %}
    #     SET_SERVO SERVO=MMU_SERVO23 ANGLE=0
    # {% elif TOOL == 3 %}
    #     SET_SERVO SERVO=MMU_SERVO23 ANGLE=180
    # {% elif TOOL == 4 %}
    #     SET_SERVO SERVO=MMU_SERVO45 ANGLE=0
    # {% elif TOOL == 5 %}
    #     SET_SERVO SERVO=MMU_SERVO45 ANGLE=180
    # {% elif TOOL == 6 %}
    #     SET_SERVO SERVO=MMU_SERVO67 ANGLE=0
    # {% elif TOOL == 7 %}
    #     SET_SERVO SERVO=MMU_SERVO67 ANGLE=180
    {% else %}
        RESPOND TYPE=error MSG="Can not select tool {TOOL}"
    {% endif %}

    {% if SPEED == 0 %}
        SET_PIN PIN=MMU_DIR VALUE=0
        SET_FAN_SPEED FAN=MMU_SPEED04 SPEED=0
        # SET_FAN_SPEED FAN=MMU_SPEED57 SPEED=0
    {% else %}
        {% if TOOL in (1,3,5,7) %}
            SET_PIN PIN=MMU_DIR VALUE={0 if SPEED > 0 else 1}
        {% else %}
            SET_PIN PIN=MMU_DIR VALUE={1 if SPEED > 0 else 0}
        {% endif %}
        {% if TOOL in (0,1,2,3) %}
            SET_FAN_SPEED FAN=MMU_SPEED04 SPEED={SPEED|abs}
        #   SET_FAN_SPEED FAN=MMU_SPEED57 SPEED=0
        # {% elif TOOL in (4,5,6,7) %}
        #     SET_FAN_SPEED FAN=MMU_SPEED04 SPEED=0
        #     SET_FAN_SPEED FAN=MMU_SPEED57 SPEED={SPEED|abs}
        {% else %}
            RESPOND TYPE=error MSG="Can not select tool {TOOL}"
        {% endif %}
    {% endif %}

[gcode_macro MMU_HOME]
description: Homes filament
gcode:
    RESPOND MSG="MMU_HOME {rawparams}"
    {% set TOOL = params.TOOL|int %}
    {% set STATE = printer["gcode_macro _MMU"]["endstop" ~ TOOL]|int %}

    {% if printer["gcode_macro _MMU"].action != "" %}
        RESPOND TYPE=error MSG="Comamnd failed. MMU busy."
    {% elif STATE == 1 %}
        MMU_UNLOAD TOOL={TOOL}
    {% else %}
        SET_GCODE_VARIABLE MACRO=_MMU VARIABLE=action VALUE="'HOME:{TOOL}:1'"
        UPDATE_DELAYED_GCODE ID=MMU_TIMEOUT DURATION={printer["gcode_macro _MMU"].load_timeout}
        MMU_MOVE TOOL={TOOL} SPEED={printer["gcode_macro _MMU"].load_speeds[0]}
    {% endif %}

[gcode_macro MMU_LOAD]
description: Loads filament into the extruder
gcode:
    RESPOND MSG="MMU_LOAD {rawparams}"
    {% set TOOL = params.TOOL|int %}
    {% set STATE = printer["gcode_macro _MMU"]["endstop" ~ TOOL]|int %}

    {% if printer["gcode_macro _MMU"].action != "" %}
        RESPOND TYPE=error MSG="Comamnd failed. MMU busy."
    {% elif STATE == 1 %}
        RESPOND TYPE=error MSG="Cannot load tool {TOOL}. Already loaded?"
    {% else %}
        SET_GCODE_VARIABLE MACRO=_MMU VARIABLE=action VALUE="'LOAD:{TOOL}:1'"
        UPDATE_DELAYED_GCODE ID=MMU_TIMEOUT DURATION=60.0

        # todo: check what if tool <TOOL> is loaded, if so AND endstop 8 is triggerd -> exit
        {% if printer["gcode_macro _MMU"].endstop0|int   == 1 %}
            MMU_MOVE TOOL=0 SPEED=-{printer["gcode_macro _MMU"].unload_speed}
        {% elif printer["gcode_macro _MMU"].endstop1|int == 1 %}
            MMU_MOVE TOOL=1 SPEED=-{printer["gcode_macro _MMU"].unload_speed}
        {% elif printer["gcode_macro _MMU"].endstop2|int == 1 %}
            MMU_MOVE TOOL=2 SPEED=-{printer["gcode_macro _MMU"].unload_speed}
        {% elif printer["gcode_macro _MMU"].endstop3|int == 1 %}
            MMU_MOVE TOOL=3 SPEED=-{printer["gcode_macro _MMU"].unload_speed}
        {% elif printer["gcode_macro _MMU"].endstop4|int == 1 %}
            MMU_MOVE TOOL=4 SPEED=-{printer["gcode_macro _MMU"].unload_speed}
        {% elif printer["gcode_macro _MMU"].endstop5|int == 1 %}
            MMU_MOVE TOOL=5 SPEED=-{printer["gcode_macro _MMU"].unload_speed}
        {% elif printer["gcode_macro _MMU"].endstop6|int == 1 %}
            MMU_MOVE TOOL=6 SPEED=-{printer["gcode_macro _MMU"].unload_speed}
        {% elif printer["gcode_macro _MMU"].endstop7|int == 1 %}
            MMU_MOVE TOOL=7 SPEED=-{printer["gcode_macro _MMU"].unload_speed}
        {% else %}
            # push  filament til runout sensor is triggerd
            UPDATE_DELAYED_GCODE ID=MMU_TIMEOUT DURATION={printer["gcode_macro _MMU"].load_timeout}
            SET_GCODE_VARIABLE MACRO=_MMU VARIABLE=action VALUE="'LOAD:{TOOL}:4'"
            {% set speeds = printer["gcode_macro _MMU"].load_speeds %}
            {% set count = speeds|length %}
            {% for i in range(0, count-1, 2) %}
                MMU_MOVE TOOL={TOOL} SPEED={speeds[i]}
                G4 P{speeds[i+1]}
            {% endfor %}
            MMU_MOVE TOOL={TOOL} SPEED={speeds[-1]}
        {% endif %}
    {% endif %}

[gcode_macro MMU_UNLOAD]
description: Unloads filament from extruder
gcode:
    RESPOND MSG="MMU_UNLOAD {rawparams}"
    {% set TOOL = params.TOOL|int %}
    {% set STATE = printer["gcode_macro _MMU"]["endstop" ~ TOOL]|int %}

    {% if printer["gcode_macro _MMU"].action != "" %}
        RESPOND TYPE=error MSG="Comamnd failed. MMU busy."
    {% elif STATE == 0 %}
        RESPOND TYPE=error MSG="Cannot unload tool {TOOL}. Tool not loaded?"
    {% else %}
        SET_GCODE_VARIABLE MACRO=_MMU VARIABLE=action VALUE="'UNLOAD:{TOOL}:1'"
        UPDATE_DELAYED_GCODE ID=MMU_TIMEOUT DURATION={printer["gcode_macro _MMU"].load_timeout}
        MMU_MOVE TOOL={TOOL} SPEED=-{printer["gcode_macro _MMU"].unload_speed}
    {% endif %}

[gcode_macro MMU_EJECT]
description: Ejects filament from MMU
gcode:
    RESPOND MSG="MMU_EJECT {rawparams}"
    {% set TOOL = params.TOOL|int %}
    {% set STATE = printer["gcode_macro _MMU"]["endstop" ~ TOOL]|int %}

    {% if printer["gcode_macro _MMU"].action != "" %}
        RESPOND TYPE=error MSG="Comamnd failed. MMU busy."
    {% elif STATE == 1 %}
        MMU_MOVE TOOL={TOOL} SPEED=-{printer["gcode_macro _MMU"].unload_speed}
        SET_GCODE_VARIABLE MACRO=_MMU VARIABLE=action VALUE="'EJECT:{TOOL}:1'"
        UPDATE_DELAYED_GCODE ID=MMU_STOP DURATION={printer["gcode_macro _MMU"].load_timeout|float + printer["gcode_macro _MMU"].eject_duration|float}
    {% else %}
        MMU_MOVE TOOL={TOOL} SPEED=-{printer["gcode_macro _MMU"].unload_speed}
        UPDATE_DELAYED_GCODE ID=MMU_STOP DURATION={printer["gcode_macro _MMU"].eject_duration}
    {% endif %}


# [gcode_macro T0]
# gcode:
#     MMU_LOAD TOOL=0
# [gcode_macro T1]
# gcode:
#     MMU_LOAD TOOL=1
# [gcode_macro T2]
# gcode:
#     MMU_LOAD TOOL=2
# [gcode_macro T3]
# gcode:
#     MMU_LOAD TOOL=3
# [gcode_macro T4]
# gcode:
#     MMU_LOAD TOOL=4
# [gcode_macro T5]
# gcode:
#     MMU_LOAD TOOL=5
# [gcode_macro T6]
# gcode:
#     MMU_LOAD TOOL=6
# [gcode_macro T7]
# gcode:
#     MMU_LOAD TOOL=7